//all variables

:root {

    --color-primary-800: #07a9c1;
    --color-primary-600: #08cae7;
    --color-primary-500: #0cd8f7;
    --color-primary-400: #1fdbf7;
    --color-primary-200: #32def8;
    --color-primary-100: #58e4f9;

    --color-neutral-800: #242424;
    --color-neutral-700: #2e2e2e;
    --color-neutral-600: #383838;
    --color-neutral-400: #7c7c7c;
    --color-neutral-200: #adadad;
    --color-neutral-100: #d5d5d5;

    --rounding-xl: 24px;
    --rounding-md: 16px;
    --rounding-sm: 8px;
}